.nav {
    grid-area: n;
    background-color: #e36387;
    padding: 20px;
  }
  
  
  .item {
      color: #ddf3f5;
      text-decoration: none;
  }
  .item :hover {
      cursor: pointer;
      color: #24a19c;
  }

  
  .activeLink {
      color: #24a19c;
  }